<style>
textarea{
  width: 500px;
  height: 500px;
}
</style>

<%= simple_form_for(politic) do |form| %>
  <% if politic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politic.errors.count, "error") %> prohibited this politic from being saved:</h2>

      <ul>
      <% politic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.input :description, as: :text %>
    <%= form.input :politician_id, as: :hidden %>
  <div class="field">
    <select id="hashtags-type" name="politic[first_type]">
        <option value="0">內政</option>
        <option value="1">交通</option>
        <option value="2">經濟</option>
        <option value="3">教育文化</option>
        <option value="4">青年發展</option>
        <option value="5">公民政治</option>
    </select>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
