<style>
.collection_radio_buttons{
  display:inline-block;
  margin: 10px;
}
textarea{
  width: 500px;
  height: 500px;
}
a:visited{
  color:white;
}
</style>
<%= simple_form_for(politician) do |form| %>
  <% if politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :region %>
  <%= form.input :party %>  
  <%= form.input :age %>  
  <%= form.input :gender, as: :radio_buttons, collection: [['女', '0'], ['男', '1']] %>   
  <%= form.input :city %>  
  <%= form.input :birth, as: :date %> 
  <%= form.input :school, as: :text %> 
  <%= form.input :experience, as: :text %> 
  <%= form.button :submit %>
<% end %>
<hr>
<br>
<br>
<h2>政見</h2>
<a class="btn btn-lg btn-success" href="/politics/new?p_id=<%= politician.id %>">新增政見</a>
<% if politician.politics.present? %>
  <% politician.politics.each do |p| %>
    <h4>政見<%= p.id %></h4>
    <%= simple_form_for(p) do |form| %>  
      <%= form.input :description, as: :text %> 
      <%= form.input :first_type, collection: [['內政', '0'], ['交通', '1'],['經濟', '2'],['教育文化', '3'],['青年發展', '4'],['公民政治', '5']],:include_blank => false, :input_html => {:class => "hashtag_politic_type"}%> 
      <div class="hashtags-board">
          <% @hashtags.each do |h| %>             
            <% if p.first_type.to_i == h.politic_type_id.to_i %>
              <%= check_box_tag :hashtag_ids,h.id, form.object.hashtags.include?(h), :name => "politic[hashtag_ids][]",class:"boolean optional" %>
              <%= h.name %>
            <% end %>
          <% end %>
      </div>  
      <input type="hidden" value=<%= p.hashtags.pluck(:id)%>>
      <%= form.submit "更新政見", :class => "btn btn-sm btn-primary" %>   
      <input type="button" class="btn btn-sm btn-danger delete-politic" data-id="<%= p.id %>" value="刪除">
    <% end %>
  <% end %>
<% end %>

<script>
$(function(){

  $(".delete-politic").click(function(){
    var id = $(this).attr("data-id") 
    var check = confirm("確定刪除?")
    if(check){
      $.ajax({ 
          type : "POST", 
          url : "/politics/destroy", 
          data : {'id': id},
          success : function(result) { 
            window.location.reload()
          }
      })
    }

  })


  $(".hashtag_politic_type").change(function(){
    var select = $(this)
    var type = select.val()
    var hashtag_ids = select.parent().next().next().val()
    console.log(hashtag_ids)
    $.ajax({ 
            type : "POST", 
            url : "/hashtags/", 
            data : {'type': type},
            success : function(result) { 
                var element = ""
                for(var i = 0; i < result.length; i++){
                  if(hashtag_ids.includes(result[i].id)){
                    element += `<input type="checkbox" name="politic[hashtag_ids][]" id="hashtag_ids" value="${result[i].id}" class="boolean optional" checked="checked">${result[i].name}`
                  }
                  else{
                    element += `<input type="checkbox" name="politic[hashtag_ids][]" id="hashtag_ids" value="${result[i].id}" class="boolean optional">${result[i].name}`
                  }
                }
                select.parent().next().html("")
                select.parent().next().append(element)
            }, 
            error : function(result) { 
                //handle the error
            } 
    });  
  })
})
</script>
