<style>

a{
  color: white;
}

.outcome-wrapper{
  min-height: 80vh;
}

.pixel {
	display: block;
	position: relative;
	width: 300px;
	height: 80px;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	background-color: #06C1DE;
	border: none;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
	outline: none;
}
.pixel::after {
	content: "";
	position: absolute;
	width: 300px;
	height: 80px;
	top: 12px;
	left: 0;
	background-color: #047E91;
	border-radius: 24px;
	z-index: -1;
}
.pixel:hover {
	background-color: #06B6D1;
}
.pixel:active {
	top: 10px;
}
.pixel:active::after {
	top: 2px;
}
</style>

<input type="hidden" id="user-name" value="<%= @user.name %>">
<input type="hidden" id="user-url" value="<%= @user.remote_avatar_url %>">

<input type="hidden" id="affairs-value" value="<%= @result.affairs %>">
<input type="hidden" id="transportation-value" value="<%= @result.transportation %>">
<input type="hidden" id="economic-value" value="<%= @result.economic %>">
<input type="hidden" id="education-value" value="<%= @result.education %>">
<input type="hidden" id="teen-value" value="<%= @result.teen %>">
<input type="hidden" id="citizen-value" value="<%= @result.citizen %>">

<input type="hidden" id="politician-id" value="<%= @politician.id %>">
<input type="hidden" id="politician-name" value="<%= @politician.name %>">
<input type="hidden" id="politician-url" value="<%= @politician.image_url %>">



<div id="result-page" class="container">
  <div class="row">
    <div class="outcome-wrapper col-12">
      <div class="outcome row justify-content-center align-items-center">
        <div class="card-wrapper col-10 col-sm-8 col-md-5 col-lg-4">
          <div class="card-inner row justify-content-center">
            <div class="card card-front col-12">
              <div class="row justify-content-center align-items-center">
                <div class="photo-wrapper col-12 text-center">
                  <div class="photo photo-politician"></div>
                </div>
                <div class="name name-politician col-12 text-center"></div>
                <div class="radar col-6">
                  <canvas id="radar" width="100" height="100"></canvas>
                </div>
                <div class="policies col-6">
                </div>
              </div>
            </div>
            <div class="card card-back col-12">
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                  <div class="card-back-header row align-items-center">
                    <div class="number-wrapper text-center">
                      <div class="number"></div>
                    </div>
                  <div class="name name-user col-12 text-center"></div>
                  </div>
                </div>
                <div class="photo-wrapper col-12 text-center">
                  <div class="photo photo-user"></div>
                </div>
                <div class="slogan col-12 text-center">懇請支持</div>
                <div class="slogan col-12 text-center">搶救</div>
                <div class="slogan name-user col-12 text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <button class="pixel"><a href="/">開始你的議員之路！</a></button>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'></script>
<script>
(function() {
  function renderRadar() {
    const affairs = $("#affairs-value").val();
    const transportation = $("#transportation-value").val();
    const education = $("#education-value").val();
    const teen = $("#teen-value").val();
    const citizen = $("#citizen-value").val();
    const economic = $("#economic-value").val();
    const ctx = document.getElementById("radar");
    new Chart(ctx, {
      type: "radar",
      data: {
        labels: [
          "內政",
          "交通",
          ["教育", "文化"],
          ["青年", "發展"],
          ["公民", "政治"],
          "經濟"
        ],
        datasets: [
          {
            backgroundColor: "rgba(231,195,78,0.4)",
            data: [
              affairs,
              transportation,
              education,
              teen,
              citizen,
              economic
            ],
            borderWidth: 1,
            pointRadius: 0
          }
        ]
      },
      options: {
        tooltips: {
          enabled: false
        },
        legend: {
          display: false
        },
        scale: {
          ticks: {
            beginAtZero: true,
            maxTicksLimit: 4,
            min: -1,
            max: 4,
            stepSize: 2,
            display: false
          }
        }
      }
    });
  }
  function renderPolicy(data) {
      var content = '';
      console.log(data)
      for(var i=0; i<data.length&&i<3; i++) {
        content += '<p class="policy">' + data[i].description + '</p>';
      }
      $('.policies').prepend(content);
  }

  $('.card-front').hide();
  $('.card-back').hide();
  if(window.location.search.includes('?front')) $('.card-front').show();
  else $('.card-back').show();

  $('.photo-politician').css('background-image', `url(${$("#politician-url").val()})`);
  $('.name-politician').text($("#politician-name").val());
  $('.number').text(Math.floor((Math.random() * 10) + 1));
  $('.photo-user').css('background-image', `url(${$("#user-url").val()})`);
  $('.name-user').text($("#user-name").val());

  setTimeout(function(){
    renderRadar();
  }, 500)

$.ajax({
      type: "POST",
      url: "/api/get_politics",
      // data: { data: this.choosed },
      data: { data: $("#politician-id").val() },
      success: (result) => {
        renderPolicy(result)
      },
      error: (error) => {
        console.log(error);
      }
});

})();
</script>